html {
  font-family: Overpass, sans-serif;
  color: #fff;
}

h1 {
  font-weight: bold;
}

.body {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
}

svg {
  fill: #fff;
}

a {
  text-decoration: none;
  text-align: center;
  color: #fff;
}

span {
  text-align: left;
}

.text, .button {
  text-align: left;
}

.btn {
  border-color: rgba(255, 255, 255, .6);
  color: #fff;
}

li:first-child {
  border-bottom: white solid 1px;
}

li:nth-child(1n+1) {
  border-bottom: rgba(255, 255, 255, .5) solid 2px;
}

li:last-child {
  border: none;
}

.btn:hover {
  border-color: #fff;
  background-color: #fff;
  color: #ff5e3a;
}

.left {
  text-align: left;
}

@media only screen and (min-width: 60em) {

  section {
    padding-bottom: 2em;
  }

  .body {
    background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
  }

  svg {
    fill: #fff;
  }

  a {
    text-decoration: none;
    text-align: center;
    color: #fff;
  }

  span {
    text-align: left;
  }

  .text, .button {
    text-align: left;
  }

  .btn {
    border-color: rgba(255, 255, 255, .6);
    color: #fff;
  }

  li:nth-child(1n+1) {
    border-right: rgba(255, 255, 255, .5) solid 2px;
    border-bottom: none;
  }

  li:last-child {
    border: none;
  }

  .btn:hover {
    border-color: #fff;
    background-color: #fff;
    color: #ff5e3a;
  }

  .left {
    text-align: left;
  }

}
